#banners{
	width: 100%;
	/*height: 300px;*/
	position: relative;
	background-color: #295FC2;
	overflow: hidden;
	margin: 0 auto;
	padding-top: 90px;

}
#banners .contain{
	max-width: 1200px;
	margin:0 auto;
	height: 100%;
	width:84%;
	padding-top: 5em;
}
#banners .contain .title{
	font-size: 3.125em;
	color: #FFF;
	font-weight: 600;
}
#banners .contain p{
	font-size: 14px;
	color:#ccdefb;
	letter-spacing: 1.5px;
	margin-top: 4%;
}
#banners .contain .xq{
	width: 42%;
    /*margin-top: 5em;*/
}

#banners .contain .xq.current{
	margin-top: 8em;
}
#banners .contain .xq.current p{
	display: none;
}
#banners .bannerBG{
	width: 100%;
	height: 300px;
	max-width: 1930px;
	margin: 0 auto;
	background-position: center top;
	background-repeat: no-repeat;
}


@media (max-width: 768px){
	
}

@media (max-width: 667px){
	#banners .contain .xq{
		width: 93%;
	}
}