/*------------details css docment-------------*/
#introduction .around{
	width: 100%;
	background-color: #F6F6F6;
	margin: 20px 0 40px;
	padding: 30px;
	overflow-y: auto;
    /*letter-spacing: 3px;*/
    /*font-size: 14px;*/
    /*line-height: 1.8;*/
    /*color:#3F3F3F;*/
}
#introduction .around img{
	margin-right: 20px;
	/*max-width: 390px;*/
	/*float: left;*/
}
#introduction{
	width: 84%;
	margin:0 auto;
	height: auto;
	position: relative;
	margin-top:20px;
	max-width: 1200px;
}
#introduction .title{
	width: 100%;
	height:auto;
	color:#4C4C4C;
}
#introduction .title img{
	float: left;
}
#introduction .title img.jt{
    margin: 6px 0 0 0;
}
#introduction .title .js{
	float: left;
	margin: 4px 6px;
	font-size: 1.1em;
}

#introduction .context{
	width: 96%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
}
#introduction .context a{
	color:#000;
	text-decoration:none;
}
#introduction .context a:hover{
	color:#9F9F9F;
}
#introduction .context li{
	padding: 0;
	margin-bottom: 28px;
}
#introduction .context .cell{
	width: 90%;
	height: 365px;
	border: 1px solid #E9E9E9;
	padding:18px 14px;
	margin: 0 auto;
}

#introduction .context .cell.current{
	box-shadow: 1px 1px 20px -5px #9f9f9f;
}

#introduction .context .cell .title{
	width:100%;
	height: auto;
	color:#3A3A3A;
	font-size: 1.3em;
}
#introduction .context .cell .title div{
	float: left;
}
#introduction .context .cell .title .img{
	float: left;
	margin: 2px 0;
	width: 20px;
	height:20px;
	background-image: url(../img/introduce/icon_3.png);
	display: none;

}
#introduction .context .cell .englistTitle{
	color:#9F9F9F;
	margin-bottom: 4px;
}

#introduction .context .cell .ztImg{
	width:100%;
    margin-bottom: 10px;
    overflow: hidden;
}
#introduction .context .cell .ztImg img{
	width: 100%;
	height:160px;
	transition:-webkit-transform ease .5s;

	transition:transform ease .5s;

	transition:transform ease .5s, -webkit-transform ease .5s;
}

#introduction .context .cell .ztImg img:hover{

	-webkit-transform: scale(1.03);
	        transform: scale(1.03);
}

#introduction .context .cell p{
	font-size: 14px;
    letter-spacing: 1px;
    color:#8F8E8E;
    max-height: 106px;
    overflow: hidden;
}
#introduction .context .cell dl{
	font-size: 1.1em;
    letter-spacing: 1px;
    color:#8F8E8E;
    max-height: 127px;
    overflow: hidden;
}
#introduction .context .cell dl dt{
	float: left;
	width:4%;
	margin: 2% 1%;
}
#introduction .context .cell dl dt.current{
	margin:0;
	height: 40px;
}
#introduction .context .cell dl dt.current img{
	height: 40px;
}

#introduction .context .cell dl dd{
	float: left;
    width: 94%;
    max-height: 20px;
    margin: 0 0 3%;
    overflow: hidden;
	font-size: 14px;
}
#introduction .context .cell dl dd.current{
	margin:0;
	height: 40px;
	max-height: 40px;
}

#introduction .honor{
	width: 100%;
	height: auto;
	margin: 2% 0;
}
#introduction .honor ul{
	width: 90%;
	margin: 0 auto;
}
#introduction .honor ul li{
	width: 20.5%;
	margin: 1% 2%;
	height: 250px;
	float: left;
	transition:all ease .2s;
}
#introduction .honor ul li:hover{
	box-shadow: 0 10px 30px rgba(0,0,0,0.3);
	transform: translate3d(0, -2px, 0);
}
#introduction .honor ul li .imgs{
	width: 100%;
	background-color: #F3F1EB;
	padding: 8%;
	height: 72%;
}
#introduction .honor ul li .imgs img{
	margin: 0 auto;
	height: 100%;
}
#introduction .honor ul li p{
	color:#706E6D;
	font-family: '微软雅黑';
	text-align: center;
	margin: 10% 0;
	font-size: 1.2em;
}





@media (max-width: 773px){
	#introduction {
		/*top:6em;*/
		width: 92%;
	}
	#introduction .honor ul{
		width: 80%;
		margin: 0 auto;
	}
	#introduction .honor ul li{
		width: 46%;
	}

}

@media (max-width: 414px){
	#introduction {
		width: 88%;
	}
	#introduction .context li{
		width: 100% !important;
	}
	#introduction .honor ul li{
		width: 100%;
	}
}



