#goback{
	position:fixed;
	right:1%;
	bottom:3%;
	width: 40px;
	height: 40px;
	
	cursor: pointer;
	display: none;
}
#goback .jt{
    width: 40px;
    height: 40px;
	font-size: 20px;
	text-align: center;
	background-color: rgba(0,0,0,.1);
	transform: rotate(180deg);
}
#goback p{
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    background-color: #3998D8;
    line-height: 1.3;
    padding-top: 3px;
}









