/*不同分辨率的兼容性*/
@media screen and (min-width:1000px) and (max-width:1200px){
	.max1200,.new_main,.new_box{
		width:100%;
		overflow:hidden;
	}
	.swiper-slide{
		height:32em;
		background-size: cover;
		background-position: top center;
	}
	.navbar-default .navbar-nav  li  a{
		font-size:16px;
		padding:35px 10px;
	}
	.haixia_new, .anquan_new {
		width: 770px;
	}
	// .banner{
	// 	height: 38em;
	// 	top:63px;
	// }
	.banners img{
		    left: -150px;
	}
}
@media screen and (min-width:800px) and (max-width:999px) {
	.max1200,.new_main,.new_box{
		width:100%;
		overflow:hidden;
	}
	.swiper-slide{
		height:24em;
		background-size: cover;
		background-position: top center;
	}
	.navbar-default .navbar-nav > li > a{
		font-size:14px;
		padding:20px 5px;
	}
	/*导航栏动画*/
	.navbar-default .navbar-nav > li > a:hover{
		height: 60px;
	}
	/*导航下滑菜单*/
	.navbar-default .navbar-nav > li > ul{
		top:100%;
	}
	/*菜单出现灰块不消失*/
	.navbar-default .navbar-nav > li:hover{
		height: auto;
	}
	.swiper-container{
		top:62px;
	}
	.navbar-brand{
		width:164px;
		height:36px;
		padding:0;
		margin:10px 5px;
		background-size: cover;
	}
/*	.haixia_new div:nth-child(3){
		display:none;
	}
	.haixia_new div:nth-child(4){
		display:none;
	}
	.anquan_new div:nth-child(3){
		display:none;
	}
	.anquan_new div:nth-child(4){
		display:none;
	}
*/
	.haixia_new, .anquan_new {
		width: 770px;
	}
	.banners img{
		left: -200px;
	}
}

@media screen and (min-width:768px) and (max-width:992px){
	.haixia_new, .anquan_new {
		width: 500px;
	}
	.navbar-right{
		height:65px !important; 
	}
	
	.banners{
		padding-top:70px !important;;
	}
	.banners img{
		left: -25%;
	}
	.banner {
	    top: 65px !important;
	}
	.banner .bannerContext .bannerItem{
		height: 30em;
	    background-repeat: no-repeat;
	    background-size: 100% 100%;
	}
	
}

@media screen and (min-width:768px) and (max-width:799px) {
	.swiper-slide{
		height:18em;
		background-size: cover;
		background-position: top center;
	}
	.swiper-container{
		top:57px;
	}
	.navbar-brand{
		width:164px;
		height:36px;
		padding:0;
		margin:10px 5px;
		background-size: cover;
	}
	.max1200,.new_main,.new_box{
		width:100%;
		overflow:hidden;
	}
	.navbar-default .navbar-nav > li > a{
		font-size:14px;
		padding:20px 5px;
	}
	/*导航栏动画*/
	.navbar-default .navbar-nav > li > a:hover{
		height: auto;

	}
	/*导航下滑菜单*/
	.navbar-default .navbar-nav > li > ul{
		top:100%;
	}
	/*菜单出现灰块不消失*/
	.navbar-default .navbar-nav > li:hover{
		height: auto;
	}
	.haixia_new, .anquan_new {
		width: 500px;
	}
	.banner{
		top:65px !important;
	}
	.new_title{
		margin-top: 10px;
	}
	.banners{
		padding-top:70px !important;
	}
	.banners img{
		left: -25%;
	}
}


@media screen and (max-width: 765px){
	.navbar-default .navbar-nav > li.currs{
		height:auto;
		border: 0;
	}

	.banner .bannerContext .bannerItem{
		height:20em;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	.navbar-brand{
		width:164px;
		height:36px;
		padding:0;
		margin:10px 5px;
		background-size: cover;
	}
	.swiper-container{
		top:56px;
	}
	.swiper-slide{
		height:12em;
		background-size: cover;
		background-position: top center;
	}
	.wihte{
		margin-top:56px;
	}
	.new_title{
		width:100%;
		margin-top: 1.1em;
	}
	.prod_one{
		border:none;
		background:#fff;
		margin:5px 0;
		width: 50%;
	}
	.max1200,.new_main,.new_box{
		width:100%;
		overflow:hidden;
	}
	.col-zs-12{
		width:50%;
	}
	/*导航栏动画*/
	.navbar-default .navbar-nav > li > a:hover{
		height: auto;
		border-left:2px solid #286090 ;
		border-bottom: none;
	}
	.haixia_new, .anquan_new {
		width: 500px;
	}
	.banner{
		// height: 28em;
		top:56px !important;
	}
	.banners{
		padding-top:60px !important;
	}
	.banners img{
		left: -25%;
	}


}

@media screen and (max-width: 605px){
	.haixia_new, .anquan_new {
		width: 250px;
	}
		.banner{

		top:56px !important;
	}
	.banners{
		// padding-top: 59px!important;
	}
	.banner .bannerContext .bannerItem{
		height:21em;
	}
	#introduction .around img{
		margin-right: 20px;
		max-width: 390px;
		float: left;
		width: 100%;
	}
	#newDetails .context .begin .time{
		margin: 0 auto;
		color:#9D9B9B;
		margin-top: 15px;
		text-align: center;
		font-size: .8em;
	}
	#newDetails .title .js{
		float: left;
		margin: 4px 11px !important;
	}
	#newList ul li .imgs{
		float: left;
		width: 100% !important;
		height: 138px;
		margin: 10px 0;
		overflow: hidden;
	}
	#newList ul li .context{
		float: right;
	    width: 100% !important;
	    height: auto;
	}
	.banners img{
		left: -200px;
	}
}

@media (max-width: 435px){

	.navbar-default .navbar-nav > li > ul{
		opacity:0;
	}
	.navbar-default .navbar-nav > li:hover{
		 border-bottom: 0;
	    height: auto;
	    background: #E9F2F8;
	}
	#banners{
		padding-top: 53px !important;
	}
	#banners .bannerBG{
		height:auto !important;
	}
	#banners .contain{
		padding-top: 3em !important;
		padding-bottom: 3em !important;
	}
	#banners .contain .title{
		font-size: 2.125em;
	}
	.banner .bannerContext .bannerItem{
		height:15em;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	.new_title span{
		font-size: 1.1em;
		margin-top: 8px;
	}
	.new_title ul li{
		height:36px;
	}
	.new_title .more a{
		font-size: 1.2em;
		background: url(../img/more.png) no-repeat 45% 10%
	}
	.new_title .more a:hover{
		color:#82888f;
		text-decoration: none;
		background-position: 45% 10%;
	}
	.new_main{
		padding-top: 20px;
	    height: 350px;
	    margin-top: 10px;
	}

	.dyna, .notice{
		padding-left: 89px;
	}
	.new_title{
		margin-top: 1em;
	}
	.new_title .more{
		margin: 10px -34px 0 0;
	}
	.banner .bannerLeft,.banner .bannerRight{
		width: 13%;
		top: 42%;
	}
	#newList ul li .context .newtitle{
		width: 100%;
		font-size: 1.4em;
	}
	#newList ul li .context p{
		font-size: 1.2em;
		max-height: 94px;
	}
	#newDetails .context .begin{
		padding: 18px 0 20px 0;
	}
	#newDetails .context .zw p img{
		width: 100%;
		display: block;
    	margin: 0;
	}
	.col-zs-12{
		width:100%;
	}
	.prod_one{
		width: 100%;
	}
}
