#product{
	width: 1120px;
	margin:0 auto;
	height: auto;
	position: relative;
	top:110px;
    margin-bottom: 7%;
    max-width: 1120px;
}
#product .title{
	width: 100%;
	height:auto;
	color:#4C4C4C;
	margin-bottom: 7px;
}
#product .title img{
	float: left;
}
#product .title img.jt{
    margin: 6px 0 0 0;
}
#product .title .js{
	float: left;
	margin: 4px 21px;
}
#product .title .js.current{
	color:#8D8D8D;
}

#product .context{
	width:100%;
	height:auto;
	border-top: 2px solid #F1F1F1;
}

#product .context .begin{
	width: 84%;
	height: auto;
	margin: 3% auto 0;
}
#product .context .begin .menu{
	width: 100%;
	height: auto;
}
#product .context .begin .menu ul{
	margin:0;
}
#product .context .begin .menu ul li{
    margin: 0 1%;
    float: left;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    color: #7F8690;
    background-color: #E9E9E9;
    letter-spacing: 1px;
    padding: 6px;
    font-weight: 600;
    margin-bottom: 2%;
}

#product .context .begin .menu ul li.current{
	color:#D8EAF4;
	background-color: #0075B6;
}

#product .context .begin .content{
	width: 100%;
	margin-top: 1%;
}
#product .context .begin .content ul{
	margin:0;
	position: relative;
	min-height: 300px;
}
#product .context .begin .content ul li{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
}

#product .context .begin .content ul li .imgs{
	width: 355px;
	height: 320px;
	float: left;
	border: 1px solid #E4E4E4;
	display:table;
    text-align:center;
}

#product .context .begin .content ul li .imgs a{
    display:table-cell;
    vertical-align:middle;
}
#product .context .begin .content ul li .imgs img{
	vertical-align: middle;
	width: 100%;
}
#product .context .begin .content ul li .wz{
	width: 500px;
	height: 320px;
	float: left;
	margin-left: 30px;
}
#product .context .begin .content ul li .wz h1{
	font-size: 16px;
    margin: 7px 0;
}
#product .context .begin .content ul li .wz p{
	width: 100%;
    margin-top: 4%;
    text-indent: 3em;
    letter-spacing: 3px;
    font-size: .97em;
    line-height: 1.8;
    max-height: 240px;
    overflow: hidden;
}




